@import stylus_functions

.profileContainer, .badgesContainer
  commonBGContainer()
  
  float left
  
  .textContainer
    background-repeat no-repeat
    text-align        left
    
    .text
      padding-left 14px


.profileContainer
  margin-left 9px
  
  .textContainer
    background-image url(../_images/homePage/backgrounds/profile_box_small.png)
    width            499px
    height           215px
    
    .profileName
      font-size   16px
      font-weight bold
      color       #F7D3A4
      text-align  center
      line-height 32px
    
    .text
      .gravatar
        border-radius(9px)
        float  left
        margin 27px 0px -10px 0px
        width  95px
        height 95px
      
      .details
        text-transform capitalize
        line-height    28px
        margin-left    117px
        
        .label
          font-weight bold
          font-size   16px
        
        &.center
          text-align   center
          margin-right 135px
      
      .country
        margin 15px 0px 0px 15px


.badgesContainer
  margin 24px 0px 0px 2px
  
  .textContainer
    background-image url(../_images/homePage/backgrounds/badges_box.png)
    width            391px
    height           190px
    
    .text
      text-align  center
      padding-top 10px
      
      img
        &.first
          margin 0px 40%
