@import stylus_functions

.profileContainer
  commonBGContainer()
  
  float       left
  margin-left 9px
  
  .textContainer
    background-image  url(../_images/homePage/backgrounds/profile_box_small.png)
    background-repeat no-repeat
    text-align        left
    width             499px
    height            215px
    
    .profileName
      font-size   16px
      font-weight bold
      color       #F7D3A4
      text-align  center
      line-height 32px
    
    .text
      padding 8px 0px 0px 14px
      
      .gravatar
        border-radius(9px)
        float  left
        margin 6px 0px -10px 0px
        width  95px
        height 95px
      
      .details
        line-height 30px
        margin-left 117px
        
        .label
          font-weight bold
          font-size   16px
      
      .country
        margin 15px 0px 0px 15px
