// Sets a gradient on element regarding the type and RGBA and ARGB
// An important think to remember is that IE6-9 can accept "#AARRGGBB" string only while other controllers can handle both #RRGGBBAA and rgba()
// Stylus is converting all hex codes to rgba(). That's why "#AARRGGBB" string is used here.
//
// There are 2 functions stopping us from using $degree income parameter
//   -webkit-gradient() need $typeStart and $typeStop
//   IE6-9 filter() can be set only to 'horizontal' or 'vertical'
gradient($type, $startRGBA, $startIE_ARGB_String, $stopRGBA, $stopIE_ARGB_String)
  if $type is 'horizontal'
    $mainType    = left
    $typeStart   = left top
    $typeStop    = right top
    $decimalType = 1
  
  else if $type is 'vertical'
    $mainType    = top
    $typeStart   = left top
    $typeStop    = left bottom
    $decimalType = 0
  
  else if $type is 'diagonal-main'
    $mainType    = 45deg
    $typeStart   = left bottom
    $typeStop    = right top
    $decimalType = 1
  
  else if $type is 'diagonal-minor'
    $mainType    = -45deg
    $typeStart   = left top
    $typeStop    = right bottom
    $decimalType = 0
  
  // The below line should not be used coz Stylus integrated function linear-gradient() cannot use degrees values
  // background linear-gradient($mainType, $startRGBA 0%, $stopRGBA 100%)

  // Chrome, Safari4+
  background -webkit-gradient(linear, $typeStart, $typeStop, color-stop(0%, $startRGBA), color-stop(100%, $stopRGBA))
  
  background -webkit-linear-gradient($mainType, $startRGBA 0%, $stopRGBA 100%) // Chrome10+, Safari5.1+
  background    -moz-linear-gradient($mainType, $startRGBA 0%, $stopRGBA 100%) // FF3.6+
  background     -ms-linear-gradient($mainType, $startRGBA 0%, $stopRGBA 100%) // IE10+
  background      -o-linear-gradient($mainType, $startRGBA 0%, $stopRGBA 100%) // Opera 11.10+
  
  // IE6-9
  // This can calc only 'horizontal' and 'vertical' gradients
  s('filter progidDXImageTransform.Microsoft.gradient(startColorstr=%s, endColorstr=%s, GradientType=%s);', $startIE_ARGB_String, $stopIE_ARGB_String, $decimalType)


border-radius($top-left, $top-right = $top-left, $bottom-right = $top-right, $bottom-left = $top-left)
  border-top-left-radius     $top-left
  border-top-right-radius 	 $top-right
  border-bottom-right-radius $bottom-right
  border-bottom-left-radius  $bottom-left

  -moz-border-radius-topleft     $top-left
  -moz-border-radius-topright    $top-right
  -moz-border-radius-bottomright $bottom-right
  -moz-border-radius-bottomleft  $bottom-left


tshadow()
  text-shadow #000 1px 1px 1px


box-shadow($left, $top, $blur, $radiur, $color)
  box-shadow          $left $top $blur $radiur $color
  -moz-box-shadow     $left $top $blur $radiur $color
  -webkit-box-shadow  $left $top $blur $radiur $color


commonBGContainer()
  position relative
  padding  0px

  .commonBtn
    float    right
    position absolute
    top      0px
    right    20px
    margin   0px
    padding  0px
    
    &.big
      font-size 13px
    
    &.small
      font-size 10px
  
  .labelContainer
    float    left
    position absolute
    margin   7px 0px 0px 1px
    
    .label
      background-color #7FA0B2
      border-radius(10px, 0px, 0px, 0px)
      color            #FFF
      font-size        18px
      line-height      20px
      float            left
      padding          1px 5px 0px 14px
    
    .curve
      background-image url(../_images/backgrounds/curve.png)
      float            right
      width            29px
      height           20px
  
  .textContainer
    margin  25px 0px 0px 0px
    padding 0px
    
    .text
      font-size 15px
      margin    0px
      padding   0px

